@media (max-width: 1079px) {
    .blog {

        section article img,
        section article img {
            width: 350px;
            height: 200px;
        }

        section article h3 {
            font-size: 25px;
        }

        section h4 {
            font-size: 20px;
        }

        section ul {
            font-size: 15px;
        }

        section article ul li {
            font-size: 15px;
        }

        section article p {
            font-size: 15px;
        }
    }
}

@media (max-width: 976px) {
    .subscribe-form input{
        width: 100px;
    }
    .underline{
        width: 100px;
}
    .grids-header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grids-span {
        grid-column: auto;
    }
}

@media (max-width: 696px) {
    .section1{
        flex-direction: column;
    }
    header {
        height: 500px;
    }

    footer img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 591px) {
    .blog section article ul{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .blog {

        section article,
        article {
            flex-direction: column;
        }
        section article img,
        section article img {
            margin: 0;
        }
    }
}

@media (max-width: 520px) {
    .guia-transition {
        width: 200px;
        height: 200px;
    }

    .guia{
        h3 {
        color: white;
        font-size: 20px;
        font-weight: 500;
        }

        h4 {
        color: white;
        font-size: 15px;
        font-weight: 300;
        }
    }

    .blog {

        section article img,
        section article img {
            width: 220px;
            height: 120px;
        }
    }
}

@media (max-width: 445px) {
    
    header h1 {
        font-size: 45px;
    }

    .hero article img {
        width: 220px;
        height: 120px;
    }

    .wsp {
        right: 10px;
        bottom: 10px;
    }

    .grids-header {
        gap: 10px;
        padding: 10px;
    }

    .blog section iframe {
        width: 220px;
        height: 120px;
    }
}