footer {
    display: flex;
    flex-direction: column;
    color: rgb(62,23,130);
    height: 250px;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    margin-top: 30px;

    section {
        a {
            margin: 10px;
            display: inline-block;
            &:hover {
                transform: scale(1.1);
                transition: 0.3s;
            }
        }
    }
}

.wsp {
    background-color: transparent;
    position: fixed;
    right: 20px;
    bottom: 20px;
}